*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom, #FF8C8C, #E5BA73)
  }

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #C58940;
    padding: 1rem ;
}

.nav-links{
  text-size-adjust: medium;
}

.logo{
    width: 3rem;
    height: 40%;
    background-color: #C58940;
}
header{
    justify-content: space-between;
    background-color: #C58940;
    display: flex;
}

ul a {
    color:black;
    text-decoration: none;
}
img { float: left; width: 8em; height: 8em; margin-right: 1em; }

ul{
    list-style: none;
    display: flex;
    gap: 10px;

}
.hover:hover{
    background-color: #FAEAB1;
    transition: 0.3s ease;
    border-radius: 15%;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-size-adjust: medium;
  background-color: #E5BA73;
  background: linear-gradient(to bottom, #E5BA73, #FF8C8C)
  }

#hero{
  margin-top: 65px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_info{
    display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.hero_info h1{
  font-size: 48px;
  width: 80%;
  min-width: 500px; 
  font-weight: 800;
  color: var(--text-white);
}
.hero_info p {
    font-size: 14px;
    width: 70%;
    color: var(--text-gray);
  }
.hero_button{
    background-color: #FAEAB1;
    text-align: center;
    font-size: 25px;
    color: #C58940;
    padding: 0%;
    border-radius: 15px;
    
  }
.hero_button:hover{
    background-color: #E5BA73;
    transition: all 0.3s ease;
    margin: 0%;
    box-sizing: border-box;
  }
.card_hero{
  width: 300px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.card_logo{
  width: 300px;
  height: 300px;
  padding: 0;
  background-position: center;
  border-radius: 15px;
  flex-direction: row;
}
.card_hero_info{
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}

#card_hero_info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;

}

