*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom, #FF8C8C, #E5BA73)
  }

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #C58940;
    padding: 1rem ;
}

.nav-links{
  text-size-adjust: 14px;
}

.logo{
    display: flex;
    width: 3rem;
    height: 50px;
    background-color: #C58940;
}
header{
    justify-content: space-between;
    background-color: #C58940;
    display: flex;
}

ul a {
    color:black;
    text-decoration: none;
}
img { float: left; 
      width: 8em; 
      height: 8em; 
      margin-right: 1em; 
    }

ul{
    list-style: none;
    display: flex;
    gap: 10px;

}
.hover:hover{
    background-color: #FAEAB1;
    transition: 0.3s ease;
    border-radius: 15%;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-size-adjust: medium;
  background-color: #E5BA73;
  background: linear-gradient(to bottom, #E5BA73, #FF8C8C)
  }

#hero{
  margin-top: 65px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_info{
    display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.hero_info h1{
  font-size: 48px;
  width: 80%;
  min-width: 500px; 
  font-weight: 800;
  color:aliceblue;
}
.hero_info p {
    font-size: 22px;
    width: 70%;
    color: aliceblue;
  }
.hero_button{
    background-color: #FAEAB1;
    text-align: center;
    font-size: 25px;
    color: #C58940;
    padding: 0%;
    border-radius: 15px;
    
  }
.hero_button:hover{
    background-color: #E5BA73;
    transition: all 0.3s ease;
    margin: 0%;
    box-sizing: border-box;
  }
.card_hero{
  width: 300px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.card_logo{
  width: 300px;
  height: 300px;
  padding: 0;
  background-position: center;
  border-radius: 15px;
  flex-direction: row;
}
.card_hero_info{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}
.card_hero_info p{
    font-size: 25px;
    width: 70%;
    color:aliceblue;
}

#card_hero_info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  justify-content: center;
  align-items: center;
}
#card_hero_info h2{
  font-size: 32px;
  font-weight: 800;
}
#info {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
#info h2{
  font-size: 32px;
  font-weight: 800;
}

.info_container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;

}

.info_card{
  width: 300px;
  height: 290px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #C58940;
  border-radius: 10px;
  gap: 20px;
}

.info_card h3 {
  font-weight: 600;
  font-size: 18px;
}

.info_card p {
  font-size: 18px;
  font-weight: 300;
  color: aliceblue;
  text-align: center;
}

footer {
  background-color: #E5BA73;
  color: black;
}

footer h2 {
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
  padding-bottom: 30px;
}

.footer__container img {
  width: 30px;
  height: 30px;
}


.footer__container .redes {
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer__container .redes img:hover {
  background-color: #C58940;
  border: none;
  border-radius: 20px;
}

.adress,
.mail, 
.phone {
  display: flex;
  align-items: center;
  gap: 9px;
  padding-bottom: 20px;
}